
@tailwind base;
@tailwind components;
@tailwind utilities;

/* resources/css/app.css */

/* Hide scrollbar but still scrollable */

/* For Chrome, Safari and Opera */
/* Hide scrollbar but still scrollable */

.no-scrollbar::-webkit-scrollbar {
    height: 8px;
}
.no-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(100, 116, 139, 0.5); /* abu2 soft */
    border-radius: 4px;
}
.no-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}




