
@tailwind base;
@tailwind components;
@tailwind utilities;

/* resources/css/app.css */

/* Hide scrollbar but still scrollable */

/* For Chrome, Safari and Opera */
/* Hide scrollbar but still scrollable */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}



